@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap");

.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-regular-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-sc-bold {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-sc-bold-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-yes {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.btn {
  background-color: #3e187a;
  background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);
  transition: 0.5s ease;
}

.services-btn {
  background-color: #3e187a;
  background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);
  transition: 0.5s ease;
}

.services-btn:hover {
  background: #6035a6;
  cursor: pointer;
  filter: drop-shadow(10px 10px 1.5rem #af95da);
}

.btn:hover {
  background: #6035a6;
  cursor: pointer;
  filter: drop-shadow(10px 10px 1.5rem #af95da);
}
.contact-hover:hover {
  background: #6035a6;
  cursor: pointer;
  filter: drop-shadow(10px 10px 1.5rem #af95da);
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.heroine {
  filter: drop-shadow(10px 10px 1rem #af95da);
}
.yes {
  height: 85.8vh;
  display: flex;
  align-items: flex-end;
}

.web-title {
  color: rgb(48, 0, 66);
}

.cards {
  box-shadow: 10px 10px 3rem #c2c2c2;
  border-radius: 25% 5%;
  transition: 0.3s ease;
}

.cards:hover {
  border-radius: 5% 25%;
}
.content {
  margin: inherit;
}

.container {
  width: 85%;
  margin: 50px auto;
  clear: both;
}
.container::before,
.container::after {
  content: "";
  display: table;
  clear: both;
}
.right-side {
  float: right;
  width: 650px;
  vertical-align: top;
}
.right-side .papaDiv {
  height: 300px;
  background: #ffff;
  border: 5px solid #51267f;
  border-radius: 25px;
  box-shadow: 8px 12px #51267f;
}
.right-side .papaDiv + .papaDiv {
  margin-top: 60px;
}
.left-side {
  float: left;
  position: sticky;
  top: 50px;
}

.sticky-button {
  background-color: #3e187a;
  background-image: linear-gradient(316deg, #3e187a 0%, #934ec1 74%);
}
